body {
	background-color: #fafafa;
	margin:0;
	padding:0;
}

h2{
	margin:0;
	font-family: 'PT Sans', sans-serif;
}

p{
	
}
strong {
	font-family: 'PT Sans', sans-serif;
}

#navbar {
	height: 9em;
	background-color: #00ad4d;
	padding:1em;
	
}

#toolbar {
	background-color:#e6e6e6;
	height:1.7em;
	padding:1em;
}

#logo {
	width:20em;
	height:auto;
}

#mouse {
	width:7em;
	height:auto;
	float:right;
}

#navcontainer {
	width:85%;
	margin-left:auto;
	margin-right:auto;
}

#toolbarright {
	float:right;
}

#raised{ 
float:left;
	padding-left:3em;
}
#content {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}